#div1{
	margin-bottom:140px;
}

#div1 span{
	border:1px solid black;
	background-color:red;
	margin-left:5px;
	color:white;
	padding:3px 5px;
}


#div2{
	width:auto;
	height:300px;
}


#div2 span{
	background-color:red;
	width:20px;
	height:20px;
	margin:0px 4px;
	padding:8px 0px 0px 29px;/*padding的top和left是为了撑起矩形图*/
}
